.form{
    background-image: url(https://i.pinimg.com/originals/3d/38/4d/3d384d829dbf4b678cfea617114e149d.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.form{
    color: aliceblue;
    text-align: center;
    
    
    
}


